.list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40.5vw;
  &__border{
    border: 1px #282828 solid;
  }
  &__items{
    background-color: #ffffff;
  }
  &__item{
    align-items: center;
    padding: 10px;
    border-bottom: #a7a7a8 1px solid;
  }
  &__item button{
    background-image: url("../icons/delete-189.png");
    background-size: 22px;
    background-color: transparent;
    background-repeat: no-repeat;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    width: 23px;
    height: 25px;
  }
  &__item button:hover{
    background-color: #f1f1fa;
  }
  &__title{
    display: flex;
    align-items: center;
  }
  &__empty{
    text-align: center;
    background-color: #ffffff;
  }
}
.info{
  padding:10px;
  background-color: #f7f7ff;
  &__sort{
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
  &__btn{
    background-color: transparent;
    border:none;
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
  }
  &__clear button{
    border:none;
    border-radius: 5px;
    cursor:pointer;
    background-color: transparent;
  }
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@keyframes example {
  from {height: 0;}
  to {height: 500px;}
}
.clicked{
  background-color: #eafdf0;
  border:1px solid #676767;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 50px;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #7aff74;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
