.input{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  &__box{
    width: 40vw;
    font-size: 30px;
    font-family: "Candara Light";
  }
  &__box::placeholder{
    font-family: "Candara Light";
  }
  &__box:focus{
    outline: none;
  }
  &__container{
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
  }
  &__container button{
    position: absolute;
    cursor: pointer;
    right: 10px;
    background-image: url("../icons/271194.png");
    background-size: 20px;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border:none;
    border-radius: 5px;
    width: 25px;
    height: 25px;
  }
  &__container button:hover{
    background-color: #f1f1fa;
  }
}
.todo{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}
.animation{
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}


